<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_Login</title>
    <link rel="stylesheet" href="/stylesheets/adminregister.css">
</head>
<body>
    <div id="bgv">
        <div id="main">
          <h2>Admin Registration Form</h2>
  
          <form action="/admin/register" method="post">
            <div class="row">
              <label for="username">User Name</label>
              <input
                type="text"
                name="username"
                placeholder="Type your user name here"
                autocomplete="off"
                required
              />
            </div>
            <div class="row">
              <label for="name">Full Name</label>
              <input
                type="text"
                name="name"
                placeholder="Type your full name here"
                autocomplete="off"
                required
              />
            </div>
            <div class="row">
                <label for="role">Role</label>
                <select name="role" id="role"  >
                    <option value="Founder">Founder</option>
                    <option value="HR">HR</option>
                    <option value="CTO">CTO</option>
                    <option value="Project Manager">Project Manager</option>
                    <option value="Technical Lead">Technical Lead</option>

                  </select>
              </div>
            <div class="row">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                placeholder="email@example.com"
                required
              />
            </div>
            <div class="row">
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                placeholder="Enter your password here.."
                required
              />
            </div>
            <button type="submit">Register</button>
          </form>
        </div>
      </div>
</body>
</html>