<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
     * {margin: 0;padding: 0;box-sizing: border-box;}body, html {height: 100vh;width: 100vw;}#main {height: 100%;width: 100%;position: relative;background: #000;}#cen {height: 50%;width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);display: flex;align-items: center;justify-content: center;}h1 {margin: 5%;color: azure;}
    </style>
</head>

<body>
    <div id="main">
        <div id="cen">
            <h1>Open this page in desktop in full width</h1>
        </div>
    </div>
</body>

</html>