<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's Tasks</title>
    <link rel="stylesheet" href="stylesheets/tasks.css">
</head>
<body >

  
    <div id="main" >
        <div id="page">
            <div class="nav">
                <h1>Tasks to do today..</h1>
            </div>

            <div class="assigner">
                <div class="asleft">
                    <h2>Add/ Create a tasks to do</h2>
                </div>
                <div id="asspace">

                </div>
                <div class="asright">
                    <!-- <a href="/addtask">
                    <button><h1>+</h1></button></a> -->
                    <a href="/addtask">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Add Task
                    </a>
                </div>
                
            </div>
            <div class="tslist">
               <div id="task"></div> 
               <div id="task"></div> 
               <div id="task"></div> 
               <div id="task"></div> 
               <div id="task"></div>
               <div id="task"></div> 
               <div id="task"></div> 
               <div id="task"></div> 


               
                  
                
            </div>
        </div>
        <div class="bg-animation">
            <div id="stars"></div>
            <div id="stars2"></div>
            <div id="stars3"></div>
            <div id="stars4"></div>
        </div>
    </div>

</body>
</html>