<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's Tasks</title>
    <link rel="stylesheet" href="stylesheets/tasks.css">
</head>
<body >

  
    <div id="main" style="background-color: black;">
        <div id="page">
            <div class="nav">
                <h1>Tasks to do today..</h1>
            </div>
        </div>
        <div class="bg-animation">
            <div id="stars"></div>
            <div id="stars2"></div>
            <div id="stars3"></div>
            <div id="stars4"></div>
        </div>
    </div>

</body>
</html>