<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's Update</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
   <link rel="stylesheet" href="/stylesheets/updates.css">
</head>

<body>
    <div class="nav">
        <h1>Add your updates for today..</h1>
    </div>

    <div class="assigner">
        <div id="circle">
            <i class="ri-arrow-left-s-line"></i>
        </div>
        <div class="asleft">
            <h2>Please give one SOD & EOD in a day </h2>
        </div>
        <div class="asright">
            <form action="/addupdate" method="get">
                <button type="submit">Add Update</button>
            </form>
        </div>
    </div>

    <p>Welcome to <strong><%= user.name %></strong> Profile</p>

    <div class="tslist">
        <% const today = new Date();
        const currentDate = today.toISOString().slice(0, 10);
        const filteredUpdates = updates.filter(update => {
            const updateDate = new Date(update.createdAt).toISOString().slice(0, 10);
            return updateDate === currentDate;
        });
        filteredUpdates.sort((a, b) => b.createdAt - a.createdAt);
        filteredUpdates.forEach(function (update) { %>
        <div id="task">
            <h2><%= update.title %></h2>
            <p><%= update.desc %></p>
            <p>Date: <%= update.createdAt.toLocaleDateString('en-GB') %></p>
        </div>
        <% }) %>
    </div>
    
</body>
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const success = urlParams.get('success');
  if (success) {
      alert('Your update is recorded successfully!');
  }
  var nav = document.querySelector("#circle");
  nav.addEventListener("click", function () {
    window.open("/dashboard", "_self");
});
</script>
</html>
