* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100%;
    width: 100%;
    font-family: gilroy;
  }
  #bgv {
    position: relative;
    background-image: url("../images/adbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  
  #main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #main h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color:transparent;
    -webkit-text-stroke: 2px  #f70404;
    font-weight: 300;
    font-size: 3em;
    margin-bottom: 2vh;
  }
  #main h4 {
    color: #fff;
    padding-top: 3.5vh;
    padding-left: 1vw;
    font-weight: 400;
  }
  #main h4 a {
    text-decoration: none;
    /* color: #e94102; */
    color: #f01f1f;
  }
  
  form {
    background: #0f0f27a9;
    width: 100%;
    padding: 4vw 5vw;
    border: 2px solid #8D9098;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(43, 45, 48, 0.12);
    transition: all 0.3s ease;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 2dvw;
  }
  
  .row label {
    font-size: 1em;
    color: #8086a9;
    margin-bottom: 1em;
  }
  
  .row input {
    height: 5vh;
    width: 20vw;
    padding-left: 0.3vw;
    border: 1px solid #d6d8e6;
    border-radius: 4px;
    font-size: 1em;
    transition: all 0.2s ease-out;
    border-radius: 10px;
    color: #020838;
  }
  
  .row input:focus {
    outline: none;
    box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
  }
  
  .row input::placeholder {
    color: #c8cddf;
  }
  
  button {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    background: #eb4a0f;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 1.5vh;
    transition: background 0.2s ease-out;
  }
  
  button:hover {
    background: #85311a;
  }
  
  @media (max-width: 458px) {
    body {
      margin: 0 18px;
    }
  
    form {
      background: #f9faff;
      border: none;
      box-shadow: none;
      padding: 20px 0;
    }
  }
  #message {
    display: none;
  }
  #mobile {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  