* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: gilroy;
}

#bgv {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main h2 {
  color: #e94102;
  font-weight: 300;
  font-size: 2.5em;
  margin-bottom: 2vh;
}

form {
  background: #1a2954ad;
  width: 100%;
  padding: 4vw 5vw;
  border: 1px solid #252a72;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(43, 45, 48, 0.12);
  transition: all 0.3s ease;
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 2dvw;
}

.row label {
  font-size: 1em;
  color: #8086a9;
  margin-bottom: 0.5em;
}

.row input {
  height: 5vh;
  width: 18vw;
  padding-left: 0.3vw;
  border: 1px solid #d6d8e6;
  border-radius: 4px;
  font-size: 1em;
  transition: all 0.2s ease-out;
  border-radius: 10px;
  color: #020838;
}

.row input:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

.row input::placeholder {
  color: #c8cddf;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  background: #e94102;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.2s ease-out;
}

button:hover {
  background: #85311a;
}

#message {
  display: none;
}

@media only screen and (max-width: 500px) {
  body {
    background: #000;
  }


  #message {
    color: white;
    display: block;
  }

  #mobile {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  #bgv {
    display: none;
  }


}